html {
    scroll-behavior: smooth;
}

body {
<<<<<<< HEAD
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
=======
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
>>>>>>> 85529c4c55252fa79db5ed4c12cc42268921faaa
    color: #333;
    background: #f7f7f7;
}

header {
<<<<<<< HEAD
    background: #005577;
    color: white;
    text-align: center;
    padding: 20px;
=======
    background: #006699;
    padding: 20px;
    color: white;
    text-align: center;
>>>>>>> 85529c4c55252fa79db5ed4c12cc42268921faaa
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

<<<<<<< HEAD
nav a:hover {
    text-decoration: underline;
}

section {
    padding: 40px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    background: #005577;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #003f5c;
=======
section {
    padding: 40px;
    text-align: center;
>>>>>>> 85529c4c55252fa79db5ed4c12cc42268921faaa
}

footer {
    background: #222;
    color: #aaa;
    text-align: center;
    padding: 10px;
<<<<<<< HEAD
    margin-top: 40px;
=======
    position: fixed;
    bottom: 0;
    width: 100%;
>>>>>>> 85529c4c55252fa79db5ed4c12cc42268921faaa
}
